@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

body {
  background-color: #272B33;
  color: #FE5B35;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
}

.title, #count {
  font-size: 3rem;
  color: #203470;
  text-shadow: 0 0 8px #CCC, 0 0 10px #4169E1, 0 0 16px #4169E1, 0 0 25px #4169E1, 0 0 36px #4169E1, 0 0 52px #4169E1;
}

#countBtn {
  border-radius: 50%;
  outline: none;
  border: 1px #ccc;
  box-shadow: 0 0 8px #CCC, 0 0 10px #4169E1, 0 0 16px #4169E1, 0 0 25px #4169E1, 0 0 36px #4169E1, 0 0 52px #4169E1;
}
